<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}" mat-list-item>
        Home
      </a>
      <a routerLink="/create-post" [disabled]="!signedIn" mat-list-item>
        Create Post
      </a>
      <a routerLink="/login" mat-list-item>
        Login </a>
       
     
    </mat-nav-list>
     <button (click)="logout()" mat-stroked-button style="margin: 10px;">
          Logout </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon >face</mat-icon>
      <span> AK Blog</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>