<h1>Create New Blog Entry</h1>


    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Post Title</mat-label>
      <input [(ngModel)]="title" matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Post Text</mat-label>
      <textarea [(ngModel)]="body" matInput placeholder="What do you want to share today?"></textarea>
    </mat-form-field>
    <button mat-button (click)="submit()" >Submit</button>
