/* You can add global styles to this file, and also import other style files */
@import "~firebaseui/dist/firebaseui.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-sidenav-container {
    height: 100vh;

    mat-sidenav {
        min-width: 17vw;
    }
}

.w-100{
    width: 100%;
}

@media (min-width: 992px) {
    .blog-container{
        padding-left: 20vw !important;
        padding-right: 20vw !important;
    }
}

.blog-container {
    padding: 10px;
}
